<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ currentMovieSlug is null ? 'active' : '' }}" aria-current="page" href="{{ path('homepage') }}">Home</a>
                </li>

                {% for movie in movies %}
                    <li class="nav-item">
                        <a class="nav-link {{ currentMovieSlug is same as(movie.slug) ? 'active' : '' }}" href="{{ path('app_movie_details', {'movieSlug': movie.slug}) }}">{{ movie.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="vr"></div>
        {% if is_granted('IS_AUTHENTICATED') %}
            <a href="{{ logout_path() }}" class="btn btn-primary">Logout ({{ app.user.username }})</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
</nav>
